/* ********* CSS RESET ********** */

body, body * {
  margin: 0;
  padding: 0;
}

button {
  border: 0px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 1em;
  font-family: inherit;
  color:inherit;

  cursor: pointer;
}

/* ***** end CSS RESET ********** */

/* FONTS */


body {
  font-family: 'Inter', sans-serif;
  color: #3F3844;
}

/* end FONTS */

/* COLORS */

.parchment {
  color: #E1B56F;
}

.mint {
  color: #83E095;
}

.light-grey {
  color: #E7E7E7;
}

.dark-grey {
  color: #8C8C8C;
}

.off-black {
  color: #3F3844;
}

/* end COLORS */

/* TEXT STYLES */

.darkened{
  filter: brightness(.9);
}

.lightened{
  filter: brightness(1.5);
}

/* end TEXT STYLES */

hr {
  border: 0px;
  border-top: 1px solid rgba(57,76,96,.15);
  width: 80%;
  align-self: center;
  margin-left: 10%;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.5em;
}

.picker-section {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 100%;
}

.palette-container,
.palette-container * {
  min-width: 0px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65vw;
  overflow: hidden;
}

.color-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  min-width: 0px;
  margin-bottom: 1vw;
  border-radius: 5px;
}

.color-box:hover,
.saved-palette:hover {
  cursor: grab;
}

.color-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  margin: 0.5vw;

  box-sizing: border-box;
  padding: 1vw;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0.2vw 0.2vw 0.3vw 0vw #8c8c8c;
}

.color-container span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hexcode {
  margin-right: 1vw;
}

.fa-lock,
.fa-lock-open,
.hexcode {
  font-size: 1.6vw;
}

.saved-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  position: relative;
  overflow: scroll;

  box-shadow: -10px 0px 8px 0px rgba(231,231,231,0.5);
}

.saved-section h2 {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.saved-palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.saved-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 93%;
  margin-top: 2vw;

  background-color: white;

  box-sizing: border-box;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0.2vw 0.2vw 0.3vw 0vw #8c8c8c;
}

.saved-color-box-mask{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2vw;

  box-sizing: border-box;
  border-radius: 5px;
  outline: 2px solid white;
}

.saved-color-box {
  width: 4vw;
  aspect-ratio: 1 / 1;
}

.fa-trash-can {
  margin-left: 0.2vw;
  font-size: 1.2vw;
}

.fa-lock,
.fa-lock-open,
.fa-trash-can {
  text-shadow: 1.5px 2px 1.5px #8C8C8C;
  transition: all 0.15s ease-out;
}

.fa-trash-can:hover {
  margin-left: 0.03vw;
  font-size: 1.4vw;
  text-shadow: 2.5px 3px 2.5px #D7D7D7;
  cursor: pointer !important;
}

.fa-lock:hover,
.fa-lock-open:hover{
  font-size: 1.8vw;
  text-shadow: 2.5px 3px 2.5px #D7D7D7;
  cursor: pointer;
}

.fa-trash-can:active {
  font-size: 1.2vw;
  text-shadow: 1.4px 2px 1.5px #8C8C8C;
}

.fa-lock:active,
.fa-lock-open:active{
  font-size: 1.5vw;
  text-shadow: 1.5px 2px 1.5px #8C8C8C;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 5vh;
}

.picker-button {
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 5px;

  background-color: white;
  border: 1px solid #E7E7E7;
  color: #7d7581;

  transition-property: all;
  transition-duration: 0.15s;
  transition-delay: 0s;
}

.picker-button:hover{
  border: 1px solid #E7E7E7;
  color: #3F3844;
  box-shadow: 0.1vw 0.1vw 0.4vw 0vw #8c8c8c;
}

.picker-button:active{
  border: 1px solid #E7E7E7;
  color: #E7E7E7;
  box-shadow: 0vw 0vw 0vw 0vw white;
}

.hexcode:hover {
  cursor: pointer;
  color: #E1B56F;
  text-decoration: underline;
}

.hexcode:active {
  color: #83E095;
}

.hexcode {
  position: relative;
}

.hexcode:before {
  content: "Click to Copy";
  position: absolute;
  bottom: 100%;
  width: auto;
  aspect-ratio: 5 / 1;
  padding: 6px 8px 6px 8px;
  border-radius:7.5px;
  background:#E7E7E7;
  color: #3F3844;
  opacity: .8;
  font-size: .4em;
  text-align: center;
  display: none;
}

.hexcode:hover:before {
  display: block;
}
