/* ********* CSS RESET ********** */

body, body * {
  margin: 0;
  padding: 0;
}

button {
  border: 0px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 1em;
}

/* ***** end CSS RESET ********** */

/* FONTS */


body {
  font-family: 'Inter', sans-serif;
  color: #3F3844;
  /* font-family: 'Varela Round', sans-serif; */
}

button {
  font-family: 'Inter', sans-serif;
  color: #3F3844;
}

/* /fonts */

/* COLORS */

.parchment {
  color: #E1B56F;
}

.mint {
  color: #83E095;
}

.light-grey {
  color: #E7E7E7;
}

.dark-grey {
  /* color: #8C8C8C; */
  color: #3F3844;
}

/* /colors */

/* TEXT STYLES */

.darkened{
  /* Darken the font color by 10% */
  filter: brightness(.9);

  /* All-around stroke effect */
  /* text-shadow:
       2px 2px 0 #000,
     -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000; */
}

.lightened{
  filter: brightness(1.5);
}

/* /text styles */

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

hr {
  /* color: rgba(57,76,96,.15); */
  border: 0px;
  border-top: 1px solid rgba(57,76,96,.15);
  width: 80%;
  align-self: center;
  margin-left: 10%;
}

h1 {
  font-size: 3.5em;
}

.picker-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100%;
}

.palette-container, .palette-container * {
  /* allows items to shrink to prevent overflow */
  min-width: 0px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 72vw;
  overflow: hidden;
}

.color-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  min-width: 0px;
  margin-bottom: 1vw;
  border-radius: 5px;
}

.color-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  margin: 0.5vw;

  box-sizing: border-box;
  padding: 1vw;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0.3vw 0.3vw 0.3vw 0.02vw #E7E7E7;
}
.color-container:hover{
  cursor: grab;
}

.color-container span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hexcode {
  margin-right: 1vw;
}

.fa-lock,
.fa-lock-open,
.hexcode {
  font-size: 1.5vw;
}

.saved-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;

  border-left: 1px solid #E7E7E7;
  box-shadow: -10px 0px 8px 0px rgba(231,231,231,0.5);
  position: relative;
  overflow: scroll;
}

.saved-section h2 {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.saved-palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.saved-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 3vw;
}

.saved-color-box {
  margin-right: .5vw;
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.fa-trash-can:before {
  margin-left: 1vh;
  font-size: 2em;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 5vh;
}

.picker-button {
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
  transition-property: filter;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.picker-button:hover{
  filter: brightness(0.8);
}

button {
  cursor: pointer;
}
