/* ********* CSS RESET ********** */

body, body * {
  margin: 0;
  padding: 0;
}

/* ***** end CSS RESET ********** */

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.5em;
}

.picker-section h1 {
  /* margin-top: 10vh; */
}

.picker-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 100%;
}

.palette-container, .palette-container * {
  /* allows items to shrink to prevent overflow */
  min-width: 0px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 80%;
  max-width: 100%;

  flex-wrap: wrap;
  overflow: hidden;
}

.color-box {
  width: 200px;
  height: 200px;
  min-width: 0px;

  border-radius: 2px;
  border-style: solid;
  border-color: black;
}

.color-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  margin:10px;
}

.color-container span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.saved-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  border-left: 5px solid black;
}

.saved-section h2 {
  margin-top: 10vh;
}

.saved-palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
}

.saved-color-box {
  width: 100px;
  height: 100px;
  margin-right: .5vw;
  margin-bottom: .8vh;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  /* margin-bottom: 15vh; */
}

.picker-button {
  font-size: 2em;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}
