/* ********* CSS RESET ********** */

body, body * {
  margin: 0;
  padding: 0;
}

/* ***** end CSS RESET ********** */

/* FONTS */


body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Varela Round', sans-serif; */
}

/* /fonts */

/* COLORS */

.parchment {
  color: #E1B56F;
}

.mint {
  color: #83E095;
}

.light-grey {
  color: #E7E7E7;
}

.dark-grey {
  color: #8C8C8C;
}

/* /colors */

/* TEXT STYLES */

.darkened{
  /* Darken the font color by 20% */
  filter: brightness(.9);

  /* All-around stroke effect */
  /* text-shadow:
       2px 2px 0 #000,
     -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000; */
}

.lightened{
  filter: brightness(1.5);
}

/* /text styles */

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.5em;
}

.picker-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 100%;
}

.palette-container,
.palette-container * {
  /* allows items to shrink to prevent overflow */
  min-width: 0px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65vw;
  overflow: hidden;
}

.color-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  min-width: 0px;
  margin-bottom: 1vw;
  border-radius: 5px;
}

.color-box:hover {
  cursor: grab;
}

.color-box:active {
  cursor: grabbing;
}

.color-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* now margin-right: 3vh; <-- no effect right */
  width: 100%;
  margin: 0.5vw;

  box-sizing: border-box;
  padding: 1vw;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0.3vw 0.3vw 0.3vw 0.02vw #E7E7E7;
}

.color-container span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hexcode {
  margin-right: 1vw;
}

.fa-lock,
.fa-lock-open,
.hexcode {
  font-size: 1.6vw;
}

.saved-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  border-left: 5px solid black;
  position: relative;
  overflow: scroll;
}

.saved-section h2 {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.saved-palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.saved-palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 93%;
  margin-top: 3vw;
}

.saved-color-box {
  margin-right: .6vw;
  border-radius: 2.5px;
  width: 3.6vw;
  aspect-ratio: 1 / 1;
}

.fa-trash-can {
  margin-left: .5vw;
  font-size: 1.5vw;
}

.fa-lock,
.fa-lock-open,
.fa-trash-can {
  text-shadow: 1.5px 2px 1.5px #8C8C8C;
  transition: all 0.15s ease-out;
}

.fa-lock:hover,
.fa-lock-open:hover,
.fa-trash-can:hover {
  font-size: 1.8vw;
  text-shadow: 2.5px 3px 2.5px #D7D7D7;
}

.fa-lock:active,
.fa-lock-open:active,
.fa-trash-can:active {
  font-size: 1.5vw;
  text-shadow: 1.5px 2px 1.5px #8C8C8C;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 15vh;
}

.picker-button {
  font-size: 2em;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}
